  body {
    color: grey;
    background-image: url('../img/bird.jpg')
  }
  * {
      box-sizing: border-box;
  }
  img {
    border: 5px solid black;
    width: 25%;
    height: 25%;
  }
  p {
    color: darkgrey;
  }
